table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 200px;
    text-align: center;
  }
  
  tr:nth-child(even) {
      
    background-color: #dddddd;
  }
  .logout{
    margin-left: 80%;
  }

    
 /*button{
  margin-left: 80%;
}*/
.heading
  {
  margin-left: 3%;
  padding-top: 1%;
  text-align: center;
  }
  .container{
      margin-left: 30%;
      margin-top: 5%;
  }

  