<app-sidenavuser></app-sidenavuser>
<div class="container">
  <table style="width:50%">
    <div class="row mt-3 mb-3">
      <div class="col-md-8 mx-auto">
  <div class="card-header card text-white bg-secondary">
    <div class="heading">
      <h4>MY LEAVE DETAIL</h4>
      </div>
  </div>
      <tr>
         <th>leave id</th>
        <th>No. of days</th>
    </tr>
    <tr *ngFor="let detail of show[0]">
      <td>{{detail.leaveid}}</td>  
      <td>{{detail.days}}</td>
      <tr>
  
  </div>
</div>
</table>
</div>
