<app-sidenavadmin></app-sidenavadmin>
     
<div class="container">
    <table style="width:100%"> 
    
    <div class="row mt-3 mb-3">
      <div class="col-md-8 mx-auto">
        <div class="card-header card text-white bg-secondary">
            <div class="heading">
                <h4>EMPLOYEE LEAVE DETAIL</h4>
            </div>
        </div>
            <tr>
                  
                  <th>Employee id</th>
                  <th>Reason</th>
                  <th>days</th>
                  <th>date of leave</th>
                  <th>date of joining</th>
                  
              </tr>
            

              <tr *ngFor="let detail of show[0]">
                <td>{{detail.empid}}</td>  
                <td>{{detail.reason}}</td>
                  <td>{{detail.days}}</td>
                  <td>{{detail.datefrom}}</td>
                  <td>{{detail.dateto}}</td>
                  
                  
                   
              </tr>
         
      
  
  </div>
  </div>
</table>
  </div>

