<app-header></app-header>
<div class="container">
<div class="row mt-3 mb-3">
  <div class="col-md-6 mx-auto">
<div class="card-header card text-white bg-secondary">
    <h4>Registration</h4>
</div>
<div class="card card-body bg-light ">
    <form [formGroup]="Registrationform" (ngSubmit)="onSubmit()">
          <div class="form-group">
          <label>Firstname</label>
          <input type="text" name="firstname" class="form-control" formControlName="firstname" >
          <span class="text-danger"
            [hidden]="!(Registrationform.get('firstname').touched && Registrationform.get('firstname').errors?.required)">
            Firstname is required!! <br>
          </span>
          <span class="text-danger"
            [hidden]="!(Registrationform.get('firstname').touched && Registrationform.get('firstname').errors?.pattern)">
            Only alphabates allowed!!
          </span>
          </div>
          <div class="form-group">
            <label>Lastname</label>
            <input type="text" class="form-control" name="lastname" formControlName="lastname" >
            <span class="text-danger"
            [hidden]="!(Registrationform.get('lastname').touched && Registrationform.get('lastname').errors?.required)">
            lastname is required!! <br>
          </span>
          <span class="text-danger"
            [hidden]="!(Registrationform.get('lastname').touched && Registrationform.get('lastname').errors?.pattern)">
            Only alphabates allowed!!
          </span>
          </div>
          <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" formControlName="email">
            <span class="text-danger"
            [hidden]="!(Registrationform.get('email').touched && Registrationform.get('email').errors?.required)">
            Email is required!!
          </span>
          <span class="text-danger"
            [hidden]="!(Registrationform.get('email').touched && Registrationform.get('email').errors?.email)">
            Invalid Email!!
          </span>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password" formControlName="password">
            <span class="text-danger"
            [hidden]="!(Registrationform.get('password').touched && Registrationform.get('password').errors?.required)">
            Password is required!!<br>
          </span>
          <span class="text-danger"
            [hidden]="!(Registrationform.get('password').touched && Registrationform.get('password').errors?.minlength)">
            Password must me 8 character long!! <br>
          </span>
          <span class="text-danger"
            [hidden]="!(Registrationform.get('password').touched && Registrationform.get('password').errors?.pattern)">
            Password must contain at least one letter, one number and one special character!!
          </span>
          </div>
          <div class="form-group">
            <label>Phone Number</label>
            <input type="text" class="form-control" name="phone" formControlName="phone" >
            <span class="text-danger"
            [hidden]="!(Registrationform.get('phone').touched && Registrationform.get('phone').errors?.required)">
            Phone no. is required!! <br>
          </span>
          <span class="text-danger"
            [hidden]="!(Registrationform.get('phone').touched && Registrationform.get('phone').errors?.minlength)">
            Phone no. must me 10digit long<br>
          </span>
          <span class="text-danger"
            [hidden]="!(Registrationform.get('phone').touched && Registrationform.get('phone').errors?.maxlength)">
            10 digit phone no. <br>
          </span>
          <span class="text-danger"
            [hidden]="!(Registrationform.get('phone').touched && Registrationform.get('phone').errors?.pattern)">
            Only numbers allowed!!
          </span>
          
          </div>
        
        <button type="submit" class="btn btn-outline-success"[disabled]="!Registrationform.valid">Submit</button>
     </form>
    </div>
    </div>
    </div>
    </div>

    
