*{
    margin:0px;

    padding:0px;
    font-family: sans-serif;
}
#sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: rgb(10, 138, 243);
}
#sidebar ul li{
    color: rgba(230,230,230,0.9);
    list-style:none;
    padding:15px 10px;
    border-bottom: 1px solid rgba(100,100,100,0.3);

}
.logout{
    margin-left: 90%;
  }
  .heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    margin-left: 1%;
    padding-top: 1%;
    }
  